/* For 480 Resolution */  
@media only screen   
and (min-device-width : 0px)   
and (max-device-width : 480px)  
{
    #maindiv{
        padding: 2rem 1rem;
        max-width: 100vw;
        
    }

    #resp-box{
        width : '100%';
        /* background-color: coral; */
        padding: 1rem;
        margin: 0;
        min-height: 90vh;
    }
} 



/* For 640 Resolution */  
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{ 
    #maindiv{
        padding: 2rem 0;
        max-width: 100vw;
    }

    #resp-box{
        width : '100%';
        /* background-color: rgb(255, 0, 0); */
        padding: 1rem 2rem;
        margin: 0;
        min-height: 90vh;
    }
}  




/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
    #resp-box{
        width : 100%;
        min-height: 90vh;
        /* background-color: rgb(120, 120, 190); */
    }
}  



/* For 1366 Resolution */  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{ 
    #resp-box{
        width : '60%';
        /* background-color: rgb(123, 45, 50); */
    }
}   




@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{ 
    #resp-box{
        width : '40%';
        /* background-color: rgb(12, 12, 159); */
    }
}   




/* If you're looking to supply different graphics or choose different typography for the lower resolution iPad display, the media queries below will work. */  
/* Orientation : Landscape */  
@media only screen   
and (orientation : landscape)   
and (-webkit-min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px)   
{ 
    #resp-box{
        width : '100%';
        min-height: "90vh";
        /* background-color: rgb(12, 12, 159); */
    }
}   




/* Orientation : Portrait */  
@media only screen   
and (orientation : portrait)   
and (-webkit-min-device-pixel-ratio: 1)   
and (min-device-width : 768px)   
and (max-device-width : 1007px)  
{ 
    #resp-box{
        width : '100%';
        /* background-color: rgb(12, 12, 159); */
    }
}    